<div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                               
                                    <h4 class="page-title">Cập nhật thông tin nhân viên</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">                                      
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="input-types-preview">
                                                <form method="POST" action="/users/update" id="createForm">
                                                <div class="row">                                       
                                                    <div class="col-lg-6">                                                       
                                                            <div class="mb-3">
                                                                <label for="namep" class="form-label">Họ tên</label>
                                                                <input type="text" id="namep" class="form-control" name="name" value="{{user.name}}">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="birth" class="form-label">Ngày sinh</label>
                                                                <input class="form-control" id="birth" type="date" name="birth" value="{{date}}">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="address" class="form-label">Địa chỉ</label>
                                                                <input type="text" id="address" class="form-control" name="address" value="{{user.address}}">                                                         
                                                            </div>            

                                                            <div class="mb-3">
                                                                <label for="phone" class="form-label">Số điện thoại</label>
                                                                <input class="form-control" id="phone" type="number" name="phone" value="{{user.phone}}">
                                                            </div>                                                                                             
                                                    </div> <!-- end col -->
                                                    <div class="col-lg-6">                                                                     
                                                            <div class="mb-3">
                                                                <label for="username" class="form-label">Username</label>
                                                                <input type="text" id="username" class="form-control" value="{{user.username}}" disabled>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="password" class="form-label">Password</label>
                                                                <div class="input-group input-group-merge">
                                                                    <input type="password" id="password" class="form-control" placeholder="Enter your password" value="********" disabled>
                                                                    
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label for="idrole" class="form-label">Vai trò</label>
                                                                <select class="form-select" id="idrole" name="idrole" value="{{user.idrole}}">
                                                                    <option value="Nhân viên">Nhân viên</option> 
                                                                    <option value="Admin">Admin</option>                                                                                                                          
                                                                </select>
                                                            </div>                                                                                                                                                                             
                                                    </div> <!-- end col -->                            
                                                </div>
                                                <input name="id" value="{{user.iduser}}" style="visibility: hidden;">
                                                <button class="btn btn-success" style="float:right;">Lưu thay đổi</button>
                                                </form>
                                                <!-- end row-->                      
                                            </div> <!-- end preview-->
                                                                              
                                        </div> <!-- end tab-content-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div><!-- end col -->
                            <script>
                                var date 
                                document.addEventListener('DOMContentLoaded', function () {
                                    date = "{{user.birth}}";
                                    date.substr(0, 10);
                                    console.log(date);
                                });                       
                            </script>
                        </div><!-- end row -->            
</div>
<script>
    function validForm() {
        return $.ajax({
            url : "http://localhost:3000/api/userupdatevalid",
            type : "post",
            dataType:"json",
            data : {               
                name : $('#namep').val(),
                birth : $('#birth').val(),
                address : $('#address').val(),
                phone : $('#phone').val(),
                idrole : $('#idrole').val(),
            },
            success : function (result){
                if(result.errors.length == 0){
                    alert('ko lỗi');
                    isSubmit = true;    
                    return true;         
                }
                alert(result.errors[0].msg);
                isSubmit = false;  
                return false;       
            },
            error: function(xhr, status, error){
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                isSubmit = false;
                return false;
            }
        });
    }
    $('#createForm').submit(function (e){
        var isSubmit = false;

        var ajaxCall = $.ajax({
            url : "http://localhost:3000/api/userupdatevalid",
            type : "post",
            dataType:"json",
            data : {               
                name : $('#namep').val(),
                birth : $('#birth').val(),
                address : $('#address').val(),
                phone : $('#phone').val(),             
                idrole : $('#idrole').val(),
            },
            success : function (result){
                if(result.errors.length == 0){                   
                    isSubmit = true;    
                    return true;         
                }
                alert(result.errors[0].msg);
                isSubmit = false;  
                return false;       
            },
            error: function(xhr, status, error){
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                isSubmit = false;
                return false;
            }
        });

        ajaxCall.done(function(data) {           
            if (isSubmit){
                $('#createForm').submit();       
            }
        }); 
        return false;   
    });
</script>